<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.fjnu.officeSystem.dao.DepartmentDao">
	<insert id="insertDepartment" parameterType="cn.fjnu.officeSystem.entity.Department">
		insert into
		t_department(id,name,remark)
		values(#{id},#{name},#{remark})
	</insert>
	<select id="selectAllDepartment" resultType="cn.fjnu.officeSystem.entity.Department">
		select * from
		t_department
	</select>

	<update id="updateDepartment" parameterType="cn.fjnu.officeSystem.entity.Department">
		update t_department
		<set>
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="remark!=null">
				remark=#{remark},
			</if>
		</set>
		where id=#{id}
	</update>
	<select id="selectDepartMentById" parameterType="java.lang.String" resultType="cn.fjnu.officeSystem.entity.Department">
	select * from t_department where id=#{id}
	</select>
	
</mapper>